$headerBgImage: url("../img/m-h-day.jpg");
$underlineColor: lightskyblue;
$buttonBgColor: rgb(105, 153, 0);
$secondGradientColor: rgb(50, 95, 210);
$blockTextColor: rgb(190, 190, 170);
$blockBgColor: rgb(35, 35, 45);
$textColor: black;
$mainBgColor: white;
$fontSettings:(
    "mainFont": ('Source Sans Pro', sans-serif),
    "textFont": ('Hind', sans-serif)
);