$headerBgImage: url("../img/m-h-night.jpg");
$underlineColor: rgb(255, 80, 50);
$buttonBgColor: rgb(227, 177, 0);
$secondGradientColor: rgb(150, 50, 80);
$blockTextColor: rgb(210, 210, 210);
$blockBgColor: rgb(60, 63, 80);
$textColor: white;
$mainBgColor: rgb(35, 35, 45);
$fontSettings:(
    "mainFont": ('Source Sans Pro', sans-serif),
    "textFont": ('Fresca', sans-serif)
);